@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

.noto_font {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  font-family: "Cairo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.tajawal-extralight {
  font-family: "Tajawal", sans-serif;
  font-style: normal;
}

.highlight {
  background-color: rgba(250, 229, 155, 0.38);
  display: inline;
  padding: 0 1rem 0 1rem;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
   
  }

  100% {
    transform: translateY(0);
    
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
   
  }

  100% {
    transform: translateY(0);
    
  }
}

.move-up {
  animation: moveUp 1s ease-in-out infinite;
 
}

.move-down {
  animation: moveDown 1s ease-in-out infinite;
 
}

.animated-path {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    fill: #a89cc4;
  }

  50% {
    fill: #3B4D68;
  
  }

  100% {
    fill: #537aad;
  }
}
.hero-svg {
    width: 100%;
    height: 50%;
    max-width: 269px;  
  }
 
  